.forget-password {
    min-height: calc(100vh - 230.59px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-password>div {
    width: 500px;
    position: relative;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    border-radius: .6rem;
    overflow: hidden;
}

.forget-password>div form {
    position: relative;
    padding: 40px 50px;
}

.forget-password>div form input {
    width: 100%;
    padding: 10px 20px;
    border-radius: .3rem;
    outline: none;
    border: 1px solid #0e0e0e;
    background: transparent;
    margin-top: 1.5em;
}

.forget-password>div form input[type="submit"] {
    background: #0e0e0e;
    color: #efef;
}