.withdrawPage {
    min-height: calc(100vh - 219.59px);
    padding: 1rem 2rem;
    width: calc(99vw - 75px);
    margin-left: 75px;
}

.withdrawPage .info img {
    filter: invert(1) drop-shadow(2px 4px 6px black);
}